<?xml version="1.0"?>
<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<location path="AdminRegister.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<connectionStrings>
		<add name="EasternDigitalDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EasternDigital;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>

